{{#if model.logged_in}}
    <button class="btn" {{action 'create_forum'}}>Create Forum</button>
    <button class="btn" {{action 'mark_all_read'}}>Mark All Read</button>
{{/if}}
{{#if model.has_prev_page}}
    <button class="btn" {{action 'prev_page'}}>More Recent</button>
{{/if}}
{{#if model.has_next_page}}
    <button class="btn" {{action 'next_page'}}>Older</button>
{{/if}}