<div class="main-page-header header-with-controls">
  <span class="controls">
    {{render "forums.controls_partial" this}}
  </span>

  <div class="title">Forums
    <button class="btn btn-link" {{action 'reload'}}><span class="glyphicon glyphicon-repeat" title="Refresh"></span>
    </button>
  </div>
</div>

<div class="display_card">
  {{#each forum in model.forums}}
    {{render "forums.meta_partial" forum}}
  {{/each}}
</div>

<div class="footer-controls">
  <div class="card-section">
    {{render "forums.controls_partial" this}}
  </div>
</div>
