<div class="main-page-header header-with-controls">
  <div class="controls">
    <button class="btn" {{action 'reload'}}>Refresh</button>
  </div>

  <div class="title">User Administration</div>

  <form>
    <table style="width: 100%;">
      <tr>
        <td style="width: 2em;">
          <span class="glyphicon glyphicon-search"></span>
        </td>
        <td>
          {{input value=search_text class='input' placeholder='Search...'}}
        </td>
        <td style="width: 3em; padding-left: 1em;">
          <button class="btn" {{action 'search' search_text}}>Go</button>
        </td>
      </tr>
    </table>
  </form>
</div>
  
{{#each user in model}}
  <div class="display_card">
    {{render "admin.user_partial" user}}
  </div>
{{/each}}