<div id="conduct_page">
  <div class="clearfix">
    <img alt="Jellyfish" class="pull-left" src="/img/jellyfish.png" style="height: 150px; margin-left: 0.5em;">

    <h3>JoCo Cruise Code of Conduct</h3>
  </div>

  {{render 'text' model.codeofconduct}}
</div>
