<div id="help_page">
  <div class="clearfix">
    <img alt="Jellyfish" class="pull-left" src="/img/jellyfish.png" style="height: 150px; margin-left: 0.5em;">

    <h3>Need some help?</h3>
  </div>

  {{render 'text' model.helptext}}
</div>
