<div class="main-page-header">
  <div class="title">Starred Users</div>
</div>

{{#each user in model.starred}}
  <div class="display_card">
    <div class="card-section section-with-photo">
      <div class="section-photo">
        {{#link-to 'user.profile' user.username}}
          {{user-picture user.username user.last_photo_updated}}
        {{/link-to}}
      </div>
      <span class="title">
        {{#link-to 'user.profile' user.username}}
          {{pretty-username user.username user.display_name}}
        {{/link-to}}
      </span>
      <div class="body">
        Personal comment (only visible to you):
        <div class="body-section">
          {{textarea value=user.comment rows='6' maxlength='5000' class='input'}}
        </div>
      </div>
      <div class="controls">
        <button class="btn" {{action 'save' user}}>save</button>
      </div>
    </div>
  </div>
{{/each}}