<div id="help_page">
  <div class="clearfix">
    <h3>What time is it?</h3>
  </div>

  <p>
    JoCo Cruise will not be making any time zone changes this year, but Daylight Saving Time will begin on Day 2 (Sunday).
    The server that Twitarr runs on will be in Eastern Time for the duration of the cruise. If your device is set to
    Eastern Time, it should automatically update to Daylight Saving Time when it begins.
  </p>
  <p>
    We will be in EST for the first day of the cruise, and EDT for all other days of the cruise.
  </p>

  <h4>Time on server: {{server_time}}</h4>

  <h4>Time on your device: {{device_time}}</h4>

  <br />
  <p>
    If the two times above are different, you should change the time zone on your device until they match. This
    should be in your settings somewhere, but if you can't find it, ask a tech nerd. The good news is, there's
    probably one nearby.  :)
  </p>
</div>
