<div class="card-section section-with-photo clickable" {{action 'display_user' model.username}}>

  <div class="section-photo">
    {{user-picture model.username model.last_photo_updated}}
  </div>

  <span class="title">
    {{pretty-username model.username model.display_name model.pronouns}}
  </span>

</div>
